
@import url('https://fonts.google.com/specimen/Nuosu+SIL');

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Nuosu SIL';
	font-size: 28px;
	color: #222;
    background-color:white;
}

.navbar {
	background-color: rgb(248, 195, 204) !important;
}
.navbar h2{
    color: white;
    margin-left: 10px;
}
.navbar li a {
    color: white !important;
}
/* ví dụ*/
.navbar ul li{
    list-style: none; /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
    border-right: 1px solid #ccc;
    border-left:1px solid #333;
}
.navbar> ul li a{
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: #f1f2f3;
    text-decoration: none;
}
.navbar ul li:first-child {
    border-left: none; /* bỏ đường kè trái của phần tử đầu tiên */
}
.navbar> ul li:first-child a{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
/* Khi hover đến li, tô màu cho thẻ a */
.navbar ul li:hover>a{
    background: red;
    opacity: .7;
    color: yellow;
}
.navbar li ul{
    display: none;
    min-width: 350px;
    position: absolute;
}
.navbar li>ul li{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #999;
    text-align: left;
}
.navbar li>ul li:first-child a{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.navbar li>ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar li>ul li:last-child a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*khi hover thì hiện menu con*/
.navbar  li:hover > ul{
    display:  block;
}

.navbar > ul li > ul li >ul{
    margin-left: 352px;
    margin-top: -50px;
}




.navbar li a:hover {
    color: black !important;
}

.carousel-inner img{
    width: 100%;
    height: 650px;
}

.carousel-caption {
    position: absolute;

}
.carousel-caption h1{
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
    
}
.carousel-caption h3 {
    font-size: 150%;
    text-shadow: 2px 2px 10px #000;
    
}


.btn-primary{
    background-color: white;
    border: 1px solid white;
    color: rgb(212, 141, 151);
}
.btn-primary:hover {
    background-color: rgb(214, 144, 155);
    border: 1px solid white;
}
/*media query*/
@media (max-width: 992px){
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption h1{
        font-size: 250%;
    }
    .carousel-caption h3{
        font-size: 160%;
    }
    .carousel-caption .btn{
        font-size: 120%;
    }
}
@media (max-width: 768px){
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 220%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 15px;
    }

}
@media (max-width: 576px){
    .carousel-caption {
        top: 10%;
    }
    .carousel-caption h1{
        font-size: 150%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding: 4px 8px;
    }
}


#MB{
     margin-left: auto;
     margin-right: auto;
     height: 200px;
    width: 150px;
}
#kinhdoanh{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 150px;
}
#KT{
    background: rgb(248, 195, 204);
}
#toan{
    margin-left: auto;
     margin-right: auto;
     height: 200px;
    width: 150px;
}
footer {
    width: 100%;
}
.img1 img{
    width: 100%;
}
.col-md-4 .card:hover{
    background-color: rgb(243, 200, 207);
}
 .wrapper {
    text-align: center;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
 *{margin: 0;padding: 0;box-sizing: border-box!important;}
#content {
    width: 100%;
    min-height: 100vh;
    background: url(images/cake.jpeg) center/cover;
    background-attachment: fixed;
    color: black;
    text-align:center;
}
a {
    text-decoration: none;
}

h3.name {
    margin-top: 12rem;
    color: white;
}
h3.us {
    font-size: 2.5rem;
}
h3.us b,h3.name b {
    color: peru;
}
.btn {
    margin-top: 2rem;
    background: palegoldenrod!important;
    border: 1px solid palegoldenrod!important;
}
#middle {
    margin-top: 6rem!important;
    display: flex;
    width: 80%;
    margin: auto;
}
.left {
    padding-right: 5rem;
}
.right {
    height: 400px;
}
.right img {
    max-width: 100%;
    height: auto;

}
.square {
    position: relative;
}
.square::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    outline: 0.5rem solid peru;
    transition: 1s;
}
#filter {
    min-height: 100vh;
    margin-top: 10rem;
    text-align: center;
}
#input_filter {
    padding-top: 3rem;
}
#filter-data {
    width: 80%;
    margin:0 auto;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.4s;
}
.element_cakes {
    width: 340px;
    height: 350px;
    border: 1.5px solid #bbbb;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 3rem!important;
    margin: auto;
    transition: 0.4s;
    opacity: 0.7;
    cursor: pointer;
}
.element_cakes:hover {
    opacity: 1;
}
.element_cakes img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.infor {
    padding: 10px;
    display: flex;
}
.infor h1 {
    font-size: 1.5rem;
}
.price {
    justify-content: flex-end;
    display: flex;
    flex: 1;
}
.name_item{
    justify-content: flex-start;
    flex: 1;
    display: flex;
}
.active {
    background: rgb(212, 141, 151)!important;
}
/* modal box */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.3);
    opacity: 1;
    z-index: 3;
    display: none;
}
.modal_box{
    position: relative;
    width: 80%!important;
    margin: auto;
    top: 0;
    min-height: 100vh;
    text-align: right;
    z-index: 100;
}
.fa-window-close {
    cursor: pointer;
    font-size: 3rem!important;
}

.lightbox {
    min-height: 80vh;
}
.fa-caret-left,
.fa-caret-right {
    cursor: pointer;
    top: 50%;
    z-index: 99;
    position: absolute;
    font-size: 3rem!important;
    transition: 0.4s;
}
.fa-caret-left {
    left: 0px;
    padding-right: 2rem;
    transform: translate(-60%,-50%);

}
.fa-caret-right {
    right: 0px;
    transform: translate(60%,-50%);
    padding-left: 2rem;
}
.fa-caret-left:hover,
.fa-caret-right:hover,
.fa-window-close:hover {
    content: '';
    color: red;
}
